/*
  * Name: Drums Band Parallax Landing Page HTML Template
  * Version: 1.0
  * Author: Glowlogix
  * Author URL: https://demo.glowlogix.com.pk/templates/drums-band/index.html
*/

@import url('../../../css2');

/*------------------------------------------------------------------

[Table of contents]
  1.  Global Colors, Fonts and Animations 
  2.  Header 
  3.  Home
  4.  About
  5.  classes
  6.  Counter
  9.  Spacer
  10. Teachers
  11. Testimonials
  12. Contact
  14. Footer
  15. Responsiveness 

------------------------------------------------------------------*/


html {
    scroll-behavior: smooth;
}

* {
    font-family: 'Lato', sans-serif;
}

body {
    position: relative;
}


/* width */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius   : 100px;
    background-color: rgb(9 14 33 / 25%);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background   : rgb(9 14 33 / 40%);
    border-radius: 10px;
    height       : 80px;
    border       : 2px solid rgb(193 194 199);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(9 14 33 / 60%);
}


/* Preloader
-------------------------------------------------------------- */
#loading {
    width              : 100%;
    height             : 100vh;
    position           : fixed;
    background         : url(../images/preload.gif);
    background-repeat  : no-repeat;
    background-position: center;
    background-color   : #fff;
    z-index            : 9999;
}


/* Global Colors, Fonts and Animations
-------------------------------------------------------------- */

:root {


    /* Primary Colors & variants */
    --primary-color: #E52150;

    /* Secondary Colors & variants */
    --secondary-color: hsl(245 57% 5%);

    /* Gray Colors & variants */
    --gray-text  : rgba(0, 0, 0, 0.45);
    --shape-color: rgba(0, 0, 0, 0.25);

    /* Basic Colors */
    --white: #FFFFFF;
    --black: #000000;


    /*---- Global Font Sizes ----*/

    /* Font Sizes for Desktop */
    --primary-desktop-heading  : 64px;
    --secondary-desktop-heading: 48px;

    /* Font Sizes for Mobo */
    --primary-mobo-heading  : 42px;
    --secondary-mobo-heading: 36px;

    /* Font Sizes for Desktop & Mobo */
    --secondary-heading-desktop-and-mobo-1: 40px;
    --secondary-heading-desktop-and-mobo-2: 24px;
    --secondary-heading-desktop-and-mobo-3: 22px;
    --secondary-heading-desktop-and-mobo-4: 20px;
    --primary-body-font                   : 16px;
    --secondary-body-font                 : 14px;


    /*---- Global Spacing ----*/

    /* Section Spacing */
    --margin-bottom-large  : 48px;
    --margin-bottom-small  : 40px;
    --section-padding-large: 120px;
    --section-padding-small: 88px;


    /*---- Global Transition ----*/

    /* Smooth Transition */
    --smooth-transition: 0.3s ease-in-out;
}


/* Header
-------------------------------------------------------------- */

.header-fix {
    position     : fixed !important;
    top          : 8px !important;
    left         : 0;
    background   : #010105;
    animation    : smoothScroll 1s forwards;
    border-radius: 16px;
    margin       : 0 30px;
    box-shadow   : 0px 4px 0px 0px hsla(245, 55%, 5%, 0.25);
}

@keyframes smoothScroll {
    0% {
        transform: translateY(-40px);
    }

    100% {
        transform: translateY(0px);
    }
}

.header-nav {
    position          : relative;
    top               : 0;
    z-index           : 1000;
    left              : 0;
    right             : 0;
    padding           : 4px 0 !important;
    -webkit-transition: all 0.5s ease;
    -moz-transition   : position 10s;
    -ms-transition    : position 10s;
    -o-transition     : position 10s;
    transition        : all 0.5s ease;
    border-bottom     : 1px solid rgb(255 255 255 / 10%);
}

#navbar ul li a.custom-btn-CTA {
    border         : 2px solid var(--primary-color);
    color          : #E52150 !important;
    padding        : 16px 34px;
    display        : inline-block;
    font-size      : var(--secondary-body-font);
    font-weight    : 800;
    border-radius  : 8px;
    letter-spacing : 0.3px;
    text-decoration: none;
    text-transform : uppercase;
    transition     : var(--smooth-transition);
}

#navbar ul li a.custom-btn-CTA:hover {
    border          : 2px solid transparent;
    background-color: var(--white);
    color           : var(--primary-color) !important;
    transform       : scale(1.025);
}

nav {
    position: relative;
}

#navbar {
    padding-top   : 18px;
    padding-bottom: 18px;
    position      : absolute;
    top           : 0px;
    left          : 0px;
    right         : 0px;
    z-index       : 1041;
}

#navbar ul>li>a {
    padding       : 0px;
    font-size     : 14px;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    transition    : var(--smooth-transition);
    font-weight   : 700;
    color         : var(--white);
}

#navbar ul li {
    padding    : 11px 24px;
    display    : flex;
    align-items: center;
}

#navbar .navbar-toggler {
    color       : transparent;
    border-color: transparent;
}

#navbar ul>li:nth-last-child(1) {
    padding-right: 0px;
}

#navbar .icon-style-menu {
    color    : var(--primary-color);
    font-size: 32px;
}

#navbar .dropdown-menu {
    padding   : 0px;
    top       : 70px;
    left      : 20px;
    box-shadow: 0px 0px 10px -10px #000000;
}

.navbar-nav .nav-item .dropdown-menu {
    padding   : 0px 16px;
    margin-top: 0px;
    font-size : 14px;
}

.navbar-nav .nav-item .dropdown-menu .dropdown-item {
    padding    : 14px 16px;
    font-weight: 600;
    color      : #070c1f;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.navbar-nav .nav-item .nav-link.active {
    color: var(--primary-color) !important;
}

.dropdown-menu li {
    color        : var(--primary-color);
    border-bottom: 1px solid rgba(30, 30, 30, 0.1);
}

.dropdown-menu>li:nth-last-child(1) {
    border-bottom: 0px;
}

#navbar .dropdown-menu li a {
    color          : var(--secondary-color) !important;
    text-decoration: none;
}

#navbar .dropdown-menu li a:hover {
    color           : var(--primary-color) !important;
    background-color: transparent !important;
}

.navbar-toggler {
    padding: 0px !important;
}


/* Home
-------------------------------------------------------------- */

section {
    padding-top   : var(--section-padding-large);
    padding-bottom: var(--section-padding-large);
}

.home-bg {
    height               : 100vh;
    padding              : 0px;
    background           : url(../images/hero.jpg);
    background-repeat    : no-repeat;
    background-size: cover;
    background-position-y: bottom;
}

.home-content {
    position: relative;
}

.home-content .carousel-inner .carousel-item img {
    height    : 100vh;
    object-fit: cover;
}

#carouselExampleCaptions .carousel-inner .carousel-item {
    transition: 1s cubic-bezier(0.42, 0, 0.13, 0.99);
}

#carouselExampleCaptions1 .carousel-inner .carousel-item {
    transition: 1s cubic-bezier(0.42, 0, 0.13, 0.99);
}

.home-content-inner {
    position       : absolute;
    z-index        : 2;
    top            : 32px;
    left           : 0px;
    right          : 0px;
    display        : flex;
    flex-flow      : column;
    justify-content: center;
    height         : 100vh;
    width          : 410px;
    margin-right   : auto;
}

.home-content-inner span {
    color: var(--primary-color);
}

.home-content-inner h6::before {
    content         : '';
    position        : absolute;
    left            : 50%;
    top             : 40px;
    width           : 1px;
    height          : 30px;
    background-color: var(--secondary-color-100);
}

.carousel-caption {
    z-index: 999;
}

.content-top h2 {
    position: relative;
}

.home-content h1 {
    font-size  : var(--primary-desktop-heading);
    color      : var(--white);
    font-weight: 800;
    margin     : 0px 0px 40px 0px;
}

.home-content p {
    color      : var(--white);
    margin     : 24px 0 32px 0;
    font-weight: 400;
}

.custom-btn-primary {
    border          : 2px solid transparent;
    color           : var(--white);
    padding         : 16px 34px;
    display         : inline-block;
    background-color: var(--primary-color);
    font-size       : var(--secondary-body-font);
    font-weight     : 800;
    border-radius   : 8px;
    letter-spacing  : 0.5px;
    text-decoration : none;
    text-transform  : uppercase;
    transition      : var(--smooth-transition);
}

.custom-btn-primary:hover {
    background-color: var(--white);
    color           : var(--primary-color);
    transform       : scale(1.025);
}

.carousel-control-next,
.carousel-control-prev {
    opacity   : 1 !important;
    cursor    : none;
    transition: var(--smooth-transition);
    width     : 10% !important;
}

#carouselExampleCaptions .carousel-indicators .active {
    padding      : 5px;
    width        : 1px;
    height       : 1px;
    border-radius: 100%;
}

#carouselExampleCaptions1 .carousel-indicators .active {
    background-color: var(--primary-color) !important;
    padding         : 5px;
    width           : 1px;
    height          : 1px;
    border-radius   : 100%;
}

#carouselExampleCaptions .carousel-indicators [data-bs-target] {
    padding         : 5px;
    width           : 8px;
    height          : 8px;
    border-radius   : 4px;
    background-color: rgb(229 33 80 / 50%);
    border          : 1px solid #e5215000;
}

#carouselExampleCaptions1 .carousel-indicators [data-bs-target] {
    padding         : 5px;
    width           : 1px;
    height          : 1px;
    border-radius   : 100%;
    background-color: var(--gray-text);
}

.icon-style {
    color          : var(--white);
    width          : 50px;
    height         : 50px;
    border         : 2px solid #ffffff75;
    display        : flex;
    justify-content: center;
    align-items    : center;
    font-size      : 22px;
    border-radius  : 100%;
    transition     : var(--smooth-transition);
}

.icon-style .fa-angle-right {
    position: relative;
    right   : -2px;
}

.icon-style .fa-angle-left {
    position: relative;
    right   : 2px;
}

.icon-style:hover {
    background-color: var(--primary-color);
    border-color    : var(--primary-color);
}

.nav-bullets {
    position   : fixed;
    right      : 24px;
    top        : 88px;
    bottom     : 0;
    z-index    : 1000;
    display    : flex;
    align-items: center;
}

.nav-bullets>ul {
    background-color: transparent;
}

.nav-bullets>ul>li {
    background   : transparent !important;
    margin-bottom: 24px;
}

.nav-bullets>ul>li:nth-last-child(1) {
    margin-bottom: 0px;
}

.nav-bullets>ul>li>a {
    color        : var(--gray-text);
    border       : 1px solid transparent;
    border-radius: 100px;
    padding      : 0px;
}

.nav-bullets>ul>li>a:hover {
    color : var(--primary-color);
    border: 1px solid var(--primary-color);
}

.nav-bullets>ul>li>a>i {
    font-size      : 10px;
    width          : 16px;
    height         : 16px;
    border-radius  : 50px;
    display        : flex;
    justify-content: center;
    align-items    : center;
}

.social-home-links {
    position   : absolute;
    top        : 88px;
    bottom     : 0;
    left       : 0;
    display    : flex;
    align-items: center;
    z-index    : 999;
}

.social-home-links>ul {
    margin: 0px;
}

.social-home-links>ul>li {
    margin-bottom: 24px;
}

.social-home-links>ul>li:nth-last-child(1) {
    margin-bottom: 0px;
}

.social-home-links>ul>li>a {
    text-decoration: none;
}

.social-home-links>ul>li>a>i {
    font-size      : 14px;
    width          : 40px;
    height         : 40px;
    border-radius  : 50px;
    display        : flex;
    justify-content: center;
    align-items    : center;
    color          : #ffffff75;
    border         : 1px solid #ffffff75;
    border-radius  : 100px;
    padding        : 0px;
    transition     : var(--smooth-transition);
}

.social-home-links>ul>li>a>i:hover {
    color           : var(--white);
    border          : 1px solid var(--primary-color);
    background-color: var(--primary-color);
}


/* About
-------------------------------------------------------------- */

.about-bg .container .row {
    max-width: 880px;
    margin   : 0 auto;
}

.content-top h2::after {
    content      : '〰';
    border-radius: 4px;
    color        : #e52150;
    display      : block;
}

.about-bg .content-top span {
    color: #E52150;
}

.content-top {
    position: relative;
}

.content-top h6 {
    color        : var(--primary-color);
    margin-bottom: 16px;
    font-weight  : 700;
}

.content-top h6::before {
    content         : '';
    position        : absolute;
    top             : 28px;
    left            : 0;
    width           : 32px;
    height          : 2px;
    border-radius   : 100px;
    background-color: var(--shape-color);
}

.content-top h5 {
    color        : var(--primary-color);
    margin-bottom: 16px;
    font-size    : 16px;
    font-weight  : 700;
}

.content-top h5::before {
    content         : '';
    position        : absolute;
    top             : 28px;
    left            : 0;
    right           : 0;
    margin          : 0 auto;
    width           : 32px;
    height          : 2px;
    border-radius   : 100px;
    background-color: var(--shape-color);
}

.about-bg .content-top h2 span::after {
    right: 44%;
}

.about-bg .content-detail .content-top h2 {
    font-size    : var(--secondary-desktop-heading);
    color        : var(--secondary-color);
    font-weight  : 800;
    margin-top   : 48px;
    margin-bottom: 24px;
}

.about-image {
    position: relative;
}

.content-bottom>p {
    color: var(--gray-text) !important;
}

.content-bottom-width>p {
    color: var(--white) !important;
}

.content-bottom-about p {
    color      : var(--gray-text);
    font-weight: 700;
    line-height: 1.6;
}

.content-bottom-about p:nth-child(2) {
    margin-bottom: 40px;
}

.content-bottom-about ul {
    list-style   : none;
    padding      : 0px;
    margin-bottom: 40px;
}

.content-bottom-about ul li {
    list-style   : none;
    padding      : 0px;
    margin-bottom: 12px;
    color        : var(--secondary-color);
}

.content-bottom-about ul :nth-last-child(1) {
    margin-bottom: 0px;
}

.content-bottom-about ul li i {
    margin-right: 8px;
    color       : var(--primary-color);
}

.about-image .about-img-thumbnail {
    max-width       : 150px;
    position        : absolute;
    top             : 20px;
    left            : 40px;
    border-radius   : 100em;
    background-color: var(--primary-color);
    box-shadow      : 10px 12px 11px -10px rgb(0 0 0 / 25%);
}

.about-image .about-img-thumbnail img {
    opacity: 0.5;
}

.about-image .about-img-thumbnail img {
    padding: 0px !important;
}

.about-image .border-dashed {
    border-radius: 100em;
    padding      : 50px;
}

.about-image img {
    border-radius: 32px;
    box-shadow   : -32px 32px 0px rgb(0 0 0 / 5%);
    object-fit   : cover;
    margin       : 32px 0;
    transition   : 0.5s cubic-bezier(0, 0, 0.43, 1.7);
}

.about-image img:hover {
    box-shadow: 0px 2px 24px rgb(0 0 0 / 25%);
    transform : scale(1.025) rotate(2deg);
}

.custom-btn-secondary {
    border          : 2px solid transparent;
    color           : var(--white);
    padding         : 14px 28px;
    display         : inline-block;
    background-color: var(--primary-color);
    font-size       : var(--secondary-body-font);
    font-weight     : 800;
    border-radius   : 8px;
    letter-spacing  : 0.5px;
    text-decoration : none;
    text-transform  : uppercase;
    transition      : var(--smooth-transition);
}

.custom-btn-secondary:hover {
    background-color: var(--secondary-color);
    color           : var(--white);
    box-shadow      : 0px 8px 10px -12px var(--secondary-color);
    transform       : scale(1.025);
}

.custom-btn-secondary-variant {
    border          : 2px solid transparent;
    color           : var(--white);
    padding         : 14px 28px;
    display         : inline-block;
    background-color: var(--secondary-color);
    font-size       : var(--secondary-body-font);
    font-weight     : 700;
    border-radius   : 8px;
    letter-spacing  : 0.3px;
    text-decoration : none;
    text-transform  : uppercase;
    transition      : var(--smooth-transition);
}

.custom-btn-secondary-variant i {
    margin-right: 8px;
}

.custom-btn-secondary-variant:hover {
    background-color: var(--white);
    color           : var(--primary-color);
    box-shadow      : 0px 14px 10px -12px var(--primary-color);
    transform       : scale(1.025);
}


/* Classes
-------------------------------------------------------------- */

.classes-bg {
    position        : relative;
    background-color: rgba(0, 0, 0, 0.025);
}

.classes-bg .content-top h2 {
    font-size    : var(--secondary-desktop-heading);
    color        : var(--secondary-color);
    font-weight  : 800;
    margin-bottom: var(--margin-bottom-large);
}

.classes-bg .content-top h2 span::after {
    right: 42%;
}

.classes-bg .classes-block img {
    max-width    : 100%;
    border-radius: 8px 8px 0 0;
    width        : 150px;
    padding      : 60px 0;
}

.classes-block .classes-block-inner {
    padding         : 40px 24px;
    text-align      : left;
    background-color: #ffffff;
    border-radius   : 0 0 16px 16px;
}

.classes-bg .classes-block h3 {
    font-weight: 700;
    color      : var(--secondary-color);
    font-size  : var(--secondary-heading-desktop-and-mobo-3);
}

.classes-bg .classes-block p {
    color      : var(--gray-text);
    margin     : 0px;
    font-weight: 700;
}

.tertiary-btn-custom {
    text-decoration : none;
    color           : var(--primary-color);
    font-size       : 14px;
    border          : 1px solid var(--primary-color);
    padding         : 8px 16px;
    border-radius   : 4px;
    background-color: var(--white);
    display         : inline-block;
}

.tertiary-btn-custom:hover {
    color           : var(--white);
    background-color: var(--primary-color);
}

.classes-block {
    background   : rgb(229 33 80 / 10%);
    border       : 1px solid var(--primary-color-300);
    border-radius: 16px;
    transition   : 0.5s cubic-bezier(0, 0, 0.43, 1.7);
    box-shadow   : 0px 2px 4px rgb(0 0 0 / 15%);
    text-align   : center;
}

.classes-block a i {
    transition: var(--smooth-transition);
}

.classes-block:hover {
    box-shadow: 0px 2px 24px rgb(0 0 0 / 25%);
    transform : scale(1.025) rotate(2deg);
}

.classes-block:hover a i {
    color      : rgba(255, 255, 255, 0.6);
    margin-left: 4px;
    transition : var(--smooth-transition);
}

.classes-block:hover a i {
    color: rgb(255 255 255 / 60%);
}


/* Counter
-------------------------------------------------------------- */

.counter-bg {
    background-color     : var(--primary-color);
    padding              : 80px 0px;
    background-image     : linear-gradient(rgb(229 33 80 / 95%), rgb(229 33 80 / 85%)), url(../images/counter-bg.jpg);
    background-repeat    : no-repeat;
    background-size      : cover;
    background-position  : center;
    background-attachment: fixed;
}

.counter-inner .icon-style-counter {
    display         : flex;
    justify-content : center;
    align-items     : center;
    width           : 78px;
    height          : 75px;
    margin          : 0 auto;
    font-size       : 32px;
    margin-bottom   : 32px;
    color           : var(--primary-color);
    padding         : 16px;
    border-radius   : 12px;
    background-color: var(--white);
    transition      : var(--smooth-transition);
}

.counter-inner h3 {
    font-size  : var(--secondary-desktop-heading);
    font-weight: 800;
    color      : var(--white);
    margin     : 0px;
}

.counter-inner {
    text-align: center;
}

.counter-inner p {
    font-size: var(--primary-body-font);
    color    : var(--white);
    margin   : 0px;
}


/* Spacer
-------------------------------------------------------------- */

.spacer-bg {
    padding              : 80px 0px;
    background-image     : linear-gradient(rgb(229 33 80 / 75%), rgb(229 33 80 / 75%)), url(../images/spacer-bg.jpg);
    position             : relative;
    background-attachment: fixed;
    background-position  : top;
}

.spacer-bg::after {
    content            : '';
    background-size    : cover;
    background-repeat  : no-repeat;
    background-position: center;
    position           : absolute;
    left               : 0;
    right              : 0;
    bottom             : 0;
    top                : 0;
}

.spacer-inner h2 {
    font-size  : var(--secondary-desktop-heading);
    font-weight: 700;
    color      : var(--white);
    margin     : 0 0 32px 0;
}

.spacer-inner {
    text-align   : center;
    padding      : 0px 60px;
    border-radius: 8px;
    position     : relative;
    z-index      : 999;
}

.spacer-inner p {
    font-size: var(--primary-body-font);
    color    : var(--white);
    margin   : 32px 0px 40px 0px;
}

.custom-btn-tertiary {
    color           : var(--white);
    padding         : 12px 28px;
    display         : inline-block;
    background-color: var(--primary-color);
    font-size       : var(--secondary-body-font);
    font-weight     : 400;
    border-radius   : 100px;
    letter-spacing  : 0.3px;
    text-decoration : none;
    text-transform  : uppercase;
    transition      : var(--smooth-transition);
}

.custom-btn-tertiary:hover {
    background-color: var(--secondary-color);
    color           : var(--white);
}


/* Teachers
-------------------------------------------------------------- */

.teachers-bg {
    position: relative;
}

.teachers-bg .content-top h2 {
    font-size    : var(--secondary-desktop-heading);
    color        : var(--secondary-color);
    font-weight  : 800;
    margin-bottom: var(--margin-bottom-large);
}

.teachers-bg .content-top h2 span::after {
    right: 42%;
}

.teachers-member-block {
    border-radius: 8px;
    position     : relative;
    transition   : 0.5s cubic-bezier(0, 0, 0.43, 1.7);
    box-shadow   : 0px 2px 4px rgb(0 0 0 / 15%);
}

.teachers-member-block:hover {
    box-shadow: 0px 2px 24px rgb(0 0 0 / 25%);
    transform : scale(1.025) rotate(2deg);
    margin-top: -8px;
}

.teachers-member-block .teachers-member-image img {
    max-width    : 100%;
    object-fit   : fill;
    border-radius: 8px 8px 0px 0px;
}

.teachers-member-block .teachers-member-image {
    background-color: var(--secondary-color);
    border-radius   : 8px 8px 0px 0px;
    overflow        : hidden;
}

.teachers-member-block .teachers-member-image>img {
    transition: var(--smooth-transition);
    width     : 100%;
}

.teachers-member-block:hover .teachers-member-image>img {
    transform: scale(1.2);
}

.teachers-member-block:hover>.teachers-member-content {
    opacity: 1;
    top    : 60%;
}

.teachers-member-block .teachers-member-content {
    text-align      : center;
    padding         : 24px;
    border          : 1px solid var(--primary-color-300);
    border-radius   : 0px 0px 8px 8px;
    transition      : var(--smooth-transition);
    background-size : cover;
    background-color: rgba(0, 0, 0, 0.025);
}

.teachers-member-block .teachers-member-content h4 {
    font-size    : var(--secondary-heading-desktop-and-mobo-3);
    color        : var(--primary-color);
    font-weight  : 700;
    margin-bottom: 4px;
}

.teachers-member-block .teachers-member-content p {
    color        : var(--secondary-color);
    font-size    : var(--primary-body-font);
    margin-bottom: 12px;
    font-weight  : 600;
}

.teachers-member-block .teachers-member-content span a .icon-style-teachers-member {
    color        : var(--primary-color);
    font-size    : var(--primary-body-font);
    border       : 1px solid var(--primary-color);
    border-radius: 4px;
    width        : 44px;
    height       : 44px;
    padding      : 14px 0;
    margin-right : 8px;
    transition   : var(--smooth-transition);
}

.teachers-member-block .teachers-member-content span .icon-style-teachers-member:hover {
    background-color: var(--primary-color);
    color           : var(--white);
}


/* Testimonials
-------------------------------------------------------------- */

.testimonials-bg {
    position        : relative;
    background-color: rgba(0, 0, 0, 0.035);
}

.testimonials-bg .carousel-indicators .active {
    background-color: var(--primary-color) !important;
}

.testimonials-bg .carousel-indicators {
    margin-bottom: -3rem;
}

.testimonials-bg .content-top h2 {
    font-size    : var(--secondary-desktop-heading);
    color        : var(--secondary-color);
    font-weight  : 800;
    margin-bottom: var(--margin-bottom-large);
}

.testimonials-bg .content-top h2 span::after {
    right: 42%;
}

.testimonials-bg .testimonial {
    padding: 0px 0px 0px 0px;
}

.testimonial-name+p {
    letter-spacing: 0.5px;
}

.testimonial-content {
    font-size            : 14px;
    font-weight          : 300;
    padding              : 32px 80px;
    max-width            : 80%;
    margin               : 0 auto 8px;
    background-color     : #fff;
    border-radius        : 8px;
    background-size      : cover;
    background-position  : bottom;
    background-attachment: fixed;
    text-align           : center;
    box-shadow           : 0px 2px 4px rgb(0 0 0 / 15%);
}

.testimonial-content>p {
    padding       : 0px 0px 24px 0px;
    margin        : 0;
    letter-spacing: 0.3px;
    line-height   : 24px;
    font-size     : 16px;
    color         : rgb(1 1 5 / 65%);
    font-weight   : 500;
}

.testimonial-content i {
    color        : #e52150;
    font-size    : 24px;
    margin-bottom: 22px;
}

.testimonial-profile .profile img {
    padding      : 2px;
    border       : 1px dashed #e1e1e1;
    border-radius: 8px;
}

.profile-text {
    background   : rgb(229 33 80 / 5%);
    padding      : 8px 0px;
    border-radius: 8px;
    width        : 180px;
    margin       : 0 auto;
}

.profile-text h4 {
    font-size    : 18px;
    font-weight  : 700;
    color        : var(--primary-color);
    margin-bottom: 4px;
}

.profile-text p {
    font-weight  : 400;
    margin-top   : 0px;
    margin-bottom: 0;
    font-size    : 16px;
    color        : #010105;
}

.carousel-style-testimonials {
    width        : 10px !important;
    height       : 6px !important;
    margin-bottom: 56px !important;
}


/* Events
-------------------------------------------------------------- */

.events-bg {
    position: relative;
}

.events-bg .content-top h2 {
    font-size    : var(--secondary-desktop-heading);
    color        : var(--secondary-color);
    font-weight  : 800;
    margin-bottom: var(--margin-bottom-large);
}

.events-bg .content-top h2 span::after {
    right: 42%;
}

.events-member-block {
    border-radius: 8px;
    position     : relative;
    transition   : 0.5s cubic-bezier(0, 0, 0.43, 1.7);
    box-shadow   : 0px 2px 4px rgb(0 0 0 / 15%);
}

.events-member-block:hover {
    box-shadow: 0px 2px 24px rgb(0 0 0 / 25%);
    transform : scale(1.025) rotate(2deg);
    margin-top: -8px;
}

.events-member-block .events-member-image img {
    max-width    : 100%;
    object-fit   : cover;
    border-radius: 8px 8px 0px 0px;
}

.events-member-block .events-member-image {
    background-color: var(--secondary-color);
    border-radius   : 8px 8px 0px 0px;
    overflow        : hidden;
}

.events-member-block .events-member-image>img {
    transition: var(--smooth-transition);
    width     : 100%;
}

.events-member-block:hover .events-member-image>img {
    transform: scale(1.2);
}

.events-member-block:hover>.events-member-content {
    opacity: 1;
    top    : 60%;
}

.events-member-block .events-member-content {
    text-align      : center;
    padding         : 24px;
    border          : 1px solid var(--primary-color-300);
    border-radius   : 0px 0px 8px 8px;
    transition      : var(--smooth-transition);
    background-size : cover;
    background-color: rgba(0, 0, 0, 0.025);
}

.events-member-block .events-member-content h4 {
    font-size    : var(--secondary-heading-desktop-and-mobo-3);
    color        : var(--primary-color);
    font-weight  : 700;
    margin-bottom: 4px;
}

.events-member-block .events-member-content p {
    color        : hsl(245deg 57% 5% / 75%);
    font-size    : var(--primary-body-font);
    margin-bottom: 0px;
    font-weight  : 600;
}

.events-member-block .events-member-content span a .icon-style-events-member {
    color        : var(--primary-color);
    font-size    : var(--primary-body-font);
    border       : 1px solid var(--primary-color);
    border-radius: 4px;
    width        : 44px;
    height       : 44px;
    padding      : 14px 0;
    margin-right : 8px;
    transition   : var(--smooth-transition);
}

.events-member-block .events-member-content span .icon-style-events-member:hover {
    background-color: var(--primary-color);
    color           : var(--white);
}


/* Contact
-------------------------------------------------------------- */

.contact-bg {
    position           : relative;
    background-image   : url(../images/contact-map-bg.png);
    background-repeat  : no-repeat;
    background-position: 8% 56%;
    left               : 0px;
    background-color   : rgba(0, 0, 0, 0.025);
}

.contact-bg .content-top h2 {
    font-size    : var(--secondary-desktop-heading);
    color        : var(--secondary-color);
    font-weight  : 800;
    margin-bottom: var(--margin-bottom-large);
}

.contact-bg .content-top h2 span::after {
    right: 41%;
}

.contact-form .form-row .input-main .input-style {
    padding      : 12px 24px;
    height       : 56px;
    border-radius: 28px;
    margin-bottom: 32px;
    color        : var(--secondary-color);
}

.contact-form .form-row .input-main .input-style-select {
    padding         : 12px 16px;
    height          : 56px;
    border          : none;
    border-radius   : 0px;
    background-color: rgba(255, 255, 255, 0.1);
    margin-bottom   : 32px;
    color           : #777777;
}

.contact-form .form-row .input-main .input-style:focus {
    box-shadow: 0 0 0 0.06rem var(--primary-color);
    border    : 1px solid var(--white);
}

.contact-form .form-row .input-main .input-style-select:focus {
    box-shadow: 0 0 0 0.06rem var(--primary-color);
}

.contact-form .form-row .input-main textarea {
    height: auto !important;
}

.contact-form button i {
    margin-left: 4px;
}

.contact-info {
    padding      : 0px 16px;
    border-radius: 8px;
}

.contact-info .contact-info-inner {
    display      : flex;
    align-items  : start;
    margin-bottom: 48px;
    padding      : 0px 14px;
}

.contact-info .contact-info-inner i {
    font-size   : 32px;
    color       : var(--primary-color);
    margin-right: 16px;
}

.contact-info .contact-info-inner .info-inner h4 {
    font-size    : var(--primary-body-font);
    font-weight  : 600;
    color        : var(--secondary-color);
    margin-bottom: 8px;
}

.contact-info .contact-info-inner .info-inner p {
    font-size    : var(--primary-body-font);
    font-weight  : 600;
    color        : var(--gray-text);
    margin-bottom: 0px;
}

h2.popup-message {
    color      : var(--primary-color);
    font-weight: 700;
}

.modal-body p {
    margin     : 8px 0px 0px 0px;
    font-weight: 600;
}


/* Footer
-------------------------------------------------------------- */

.footer-bg {
    padding-top        : var(--section-padding-large);
    padding-bottom     : var(--section-padding-large);
    background-image   : linear-gradient(rgb(1 1 4 / 90%), rgb(1 1 4 / 90%)), url(../images/footer-bg.jpg);
    background-repeat  : no-repeat;
    background-size    : cover;
    background-position: center;
}

.footer-description {
    line-height: 24px;
}

.footer-heading {
    font-weight  : 500;
    color        : #ffffff;
    display      : flex;
    align-items  : center;
    margin-bottom: 16px;
}

.footer-heading i {
    margin-right: -1px;
    position    : relative;
    left        : -8px;
    font-size   : 10px;
    color       : var(--primary-color);
}

.footer-text-style {
    color          : rgb(255 255 255 / 60%) !important;
    font-size      : 14px;
    text-decoration: none;
}

.link-footer a:hover {
    color           : var(--white) !important;
    background-color: var(--primary-color);
}

.link-social-icons a {
    color          : rgb(255 255 255 / 60%);
    background     : rgba(255, 255, 255, 0.08);
    width          : 35px;
    height         : 35px;
    border-radius  : 4px;
    display        : flex;
    align-items    : center;
    justify-content: center;
}

.link-social-icons a i {
    font-size: 14px;
}

.footer-bottom {
    border-top      : 1px solid #a6a6a640;
    background-color: hsla(245, 55%, 5%, 0.99);
}

.footer-last {
    max-width      : 100%;
    width          : 100%;
    display        : flex;
    justify-content: space-between;
}

.footer-link:hover {
    color          : rgba(166, 166, 166, 0.5) !important;
    text-decoration: none;
}

.footer-bg .logo img {
    max-width: 180px;
}

.footer-links {
    text-align: end;
    color     : hsla(0, 0%, 100%, 0.5);
}

.footer-links a {
    color          : hsla(0, 0%, 100%, 0.5);
    text-decoration: none;
    margin-left    : 8px;
    margin-right   : 8px;
    transition     : var(--smooth-transition);
}

.footer-links a:hover {
    color: var(--primary-color);
}

.footer-links p {
    color : #ffffff;
    margin: 16px 0 0 0;
}

.footer-links p span {
    color: var(--primary-color);
}


/* Responsiveness */

@media (max-width: 580px) {

    .home-bg {
        background-position: bottom;
    }

    .home-content-inner {
        margin    : 0 auto;
        text-align: center;
        top       : -32px;
    }

    .home-btns .custom-btn-primary:nth-last-child(1) {
        margin-left: 0px;
    }

    .post-share-option {
        display: block;
    }

    .post-share-option h3 {
        margin-bottom: 8px;
    }


}

@media (max-width: 992px) {
    section {
        padding-top   : var(--section-padding-small);
        padding-bottom: var(--section-padding-small);
    }

    /* --------Home-------- */
    .home-content-inner {
        width: 90%;
    }

    .home-content h1 {
        font-size: var(--primary-mobo-heading);
    }

    .icon-style {
        visibility: hidden;
    }

    .social-home-links,
    .nav-bullets {
        display: none;
    }

    /* --------About-------- */

    .about-bg .container .row {
        margin-right: 0;
    }

    .about-bg .about-image {
        display: none !important;
    }

    .about-bg .content-detail .content-top h2 {
        margin-top: 0px;
    }

    .content-top h2 span::after {
        display: none;
    }

    .about-bg .content-detail .content-top h2 {
        font-size    : var(--secondary-mobo-heading);
        margin-bottom: var(--margin-bottom-small);
    }

    /* --------Classes-------- */

    .classes-block img {
        transition: var(--smooth-transition);
    }

    .classes-block:hover {
        transform: scale(1) rotate(0deg);
    }

    .classes-bg .content-top h2 {
        font-size    : var(--secondary-mobo-heading);
        margin-bottom: var(--margin-bottom-small);
    }

    .classes-block:hover>img {
        transform: scale(1.2);
    }

    /* --------Counter-------- */

    .counter-bg .content-top h2 {
        font-size    : var(--secondary-mobo-heading);
        margin-bottom: var(--margin-bottom-small);
    }

    .counter-inner {
        padding: 40px 0px;
    }

    /* --------Spacer-------- */

    .spacer-inner {
        border    : none;
        text-align: center;
        padding   : 0px 0px;
    }

    .spacer-inner h2 {
        font-size    : var(--secondary-mobo-heading);
        margin-bottom: var(--margin-bottom-small);
    }

    /* --------Our teachers-------- */
    .teachers-bg .content-top h2 {
        font-size    : var(--secondary-mobo-heading);
        margin-bottom: var(--margin-bottom-small);
    }

    .teachers-member-block .teachers-member-image {
        border-radius: 8px 8px 0px 0px;
    }

    .teachers-member-block .teachers-member-image img {
        border-radius: 8px 8px 0px 0px;
    }

    .teachers-member-block:hover {
        transform: scale(1) rotate(0deg);
    }

    /* --------Testimonials-------- */
    .testimonials-bg .content-top h2 {
        font-size    : var(--secondary-mobo-heading);
        margin-bottom: var(--margin-bottom-small);
    }

    .testimonial-content {
        padding: 32px 32px;
    }

    /* --------Events-------- */
    .events-member-block:hover {
        transform: scale(1) rotate(0deg);
    }

    /* --------Contact-------- */
    .contact-bg {
        background-position: left 33%;
    }

    .contact-info {
        padding: 0px 0px;
    }

    .contact-info .contact-info-inner {
        padding: 0px 0px;
    }

    .contact-bg .content-top h2 {
        font-size    : var(--secondary-mobo-heading);
        margin-bottom: var(--margin-bottom-small);
    }

    /* --------Footer-------- */
    .footer-bg {
        padding: 88px 0px 80px 0px;
    }

    .footer-social-links {
        margin-bottom: 32px !important;
    }

    .footer-last {
        align-items: center;
        flex-flow  : column;
    }

    .footer-links {
        text-align: center;
    }
}

@media (max-width: 1200px) {

    /* --------Navbar-------- */
    .header-nav {
        padding: 12px 12px !important;
    }

    .header-fix {
        margin: 0px 12px;
    }

    .navbar-nav {
        background-color: var(--white);
    }

    #navbar ul {
        margin-top   : 12px;
        border-radius: 8px;
        box-shadow   : 0px 20px 32px rgb(0 0 0 / 50%);
    }

    #navbar ul:first-child {
        height    : 340px;
        overflow-y: scroll;
    }

    #navbar ul li {
        padding      : 16px;
        border-bottom: 1px solid rgba(30, 30, 30, 0.1);
        margin       : 0px;
        display      : block;
    }

    #navbar ul li:first-child {
        border-radius: 8px 8px 0px 0px;
    }

    #navbar ul>li:nth-last-child(1) {
        border       : none;
        border-radius: 0px 0px 8px 8px;
    }

    #navbar ul li a.custom-btn-CTA:hover {
        background-color: var(--primary-color);
        color           : var(--white) !important;
    }

    #navbar .navbar-nav .nav-item:hover {
        background-color: var(--primary-color);
    }

    #navbar .navbar-nav .nav-item:hover .custom-btn-CTA {
        background-color: rgba(0, 0, 0, 0.25);
    }

    #navbar .navbar-nav .nav-item .custom-btn-CTA:hover {
        background-color: rgba(0, 0, 0, 0.35);
    }

    #navbar .navbar-nav .nav-item:hover .nav-link {
        color: var(--white) !important;
    }

    .custom-btn-primary {
        color: var(--white) !important;
    }

    .custom-btn-primary:hover {
        color: var(--primary-color) !important;
    }

    #navbar ul li a {
        color: var(--secondary-color);
    }

    #navbar ul li .custom-btn-CTA {
        color: var(--white);
    }

    #navbar ul li .custom-btn-CTA:hover {
        color: var(--primary-color);
    }
}